<div id='login-page' class="container">
    <div ng-if='user==undefined'>
        <form ng-submit="logIn()">
            <div class="form-group">
                <input type="email" class="form-control" id="loginEmail" placeholder="Enter email" ng-model="loginInfo.email" ng-required="true">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="loginPassword" placeholder="Password" ng-model="loginInfo.password" ng-required="true">
            </div>
            <button type="submit" class="btn btn-default">Log In</button>
        </form>
        <div ng-if='error'>
            <div class='bs-callout bs-callout-danger'>
                <h3> ERROR </h3>
                <p>
                    {{error}}
                </p>
            </div>

        </div>
    </div>

</div>
