$grey-background: #e8e9ea;
$ios-theme-color: #1b75bc;
$dark-grey: #484746;

#main-app {
    position: absolute;
    background: $ios-theme-color;
    background: -webkit-linear-gradient(left top, $ios-theme-color, #e8e9ea);
    background: -o-linear-gradient(bottom right, $ios-theme-color, #e8e9ea);
    background: -moz-linear-gradient(bottom right, $ios-theme-color, #e8e9ea);
    background: linear-gradient(to bottom right, $ios-theme-color, #e8e9ea);
    background-color: $ios-theme-color;
}

h4 {
    font-size: 18px;
    font-weight: bold;
}

.fa-spin-custom,
.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.register-form{
  margin-right: 30px;
  margin-left: 30px;
  text-align: center;
  color: white;

  .btn{
    width: 100%;
    color: white;
    background-color: $dark-grey;
  }

  h3{
    font-weight: 200;
  }

  h4{
    font-weight: 200;
    margin-top: 30px;
  }

  h2{
    font-weight: 200;
  }
}

.matches-form{
  text-align: center;
  color: white;

  .btn{
    width: 100%;
    color: white;
    background-color: $dark-grey;
  }

  h3{
    font-weight: 200;
  }

  h4{
    font-weight: 200;
    margin-top: 15px;
  }

  h2{
    font-weight: 200;
  }
}

.candidates-form{
  text-align: center;
  color: white;

  h2{
    font-weight: 200;
  }

    input{
    color: black;
    font-weight: 200;
  }
}

.form-page {
    margin-top: 15px;

    p {
        color: white;
    }
}

.clips-navbar {
    background-color: $grey-background;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .glyphicon {
        padding-top: 8px;
        display: block;
        text-align: center;
    }

    li {
        float: left;
        width: 33.3333333%;

        a {
            display: block;
            text-align: center;
            padding: 16px;
            text-decoration: none;
            color: black;
            padding-top: 3px;
            padding-bottom: 8px;
        }
    }

    li.active {
        .glyphicon {
            color: #1b75bc;
        }

        a {
            color: #1b75bc;
        }
    }
}

#swiping-zone{
    margin-bottom: 70px;
}

#match-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: -15px;
    z-index: 1;
    margin-top: 40%;
    text-align: center;

    h1 {
        background-color: white;
        padding-top: 11px;
        padding-bottom: 11px;
        font-family: 'Shrikhand', cursive;
    }
}

.blur-me {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    opacity: 0.9;
}

#account-page {
    #profile-image {
        width: 80%;
        margin-left: 10%;
    }

    #welcome-text {
        text-align: center;
        color: white;
        font-weight: 200;
    }
    p{
        text-align: center;
        margin-bottom: 6px;
    }

    .profile-image{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        border-radius: 151px;
        border-style: solid;
        border-width: 4px;
        border-color: white;
        margin-top:-90px;

    }
    .profile-card{
        background: $grey-background;
        border-radius: 35px;
        padding-top: 15px;
        margin-top:90px;
        border-top-right-radius: 100px;
        border-top-left-radius: 100px;
        padding-bottom: 5px;
    }
    .text-area{
        margin-top: 10px;
    }

    .map{
        width: 100%;
        position: relative;
        height: 200px;
        margin-top: 10px;
    }
}

#swiping-zone{
    marign-bottom: 70px;
}



.face-card {
    margin-top: 5%;
    background: #ddd;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;
    width: 96%;
    height: 100px;
    margin-left: 2%;

    #candidate-name {
        font-size: large;
        text-align: left;
        font-weight: 700;
        margin-left: -10px;
    }

    #candidate-description {
        text-align: left;
        margin-left: -10px;
        margin-right: 14px;
    }

    img {
        width: 70px;
        height: 70px;
        border-radius: 100px;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px;
        margin-left: 3px;
        margin-top: 11px;
    }
}

.matches-face-card {
    margin-top: 5%;
    background: #ddd;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;
    width: 96%;
    height: 100px;
    margin-left: 2%;

    #candidate-name {
        font-size: large;
        text-align: left;
        font-weight: 700;
        margin-left: -10px;
    }

    #candidate-description {
        text-align: left;
        margin-left: -10px;
    }

    #candidate-phone {
        text-align: left;
        margin-left: -10px;
    }

    img {
        width: 70px;
        height: 70px;
        border-radius: 100px;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px;
        margin-left: 3px;
        margin-top: 11px;
    }
}


.i-like {
    box-shadow: 0 0 3pt 4pt #5cb85c;
}
.like-button-col {
    padding-left: 0px;
    .btn {
        margin-left: -42px;
        margin-bottom: -73px;
        width: 60px;
        height: 60px;
        font-size: large;
        border-color: white;
        border-width: 2px;
        margin-top: 2px;
        border-radius: 100px;
    }
}
/* enable absolute positioning */
.inner-addon {
    position: relative;
}
/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
/* align icon */
.left-addon .glyphicon {
    left: 10px;
}

.right-addon .glyphicon {
    right: 0;
}
/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout+.bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: #777;
}

.bs-callout-default h4 {
    color: #777;
}

.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

input [type="password"] [type="email"] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
