$grey-background: #f1f1f1;
$ios-theme-color: #ff9900;

#main-app {
    height: 700px;
    background: red;
    background: -webkit-linear-gradient(left top, red, #ff9900);
    background: -o-linear-gradient(bottom right, red, #ff9900);
    background: -moz-linear-gradient(bottom right, red, #ff9900);
    background: linear-gradient(to bottom right, red, #ff9900);
    background-color: #ab5f5f;
}

h4 {
    font-size: 18px;
    font-weight: bold;
}

.fa-spin-custom,
.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.form-page {
    margin-top: 15px;

    p {
        color: white;
    }
}

.clips-navbar {
    background-color: $grey-background;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .glyphicon {
        padding-top: 8px;
        display: block;
        text-align: center;
    }

    li {
        float: left;
        width: 33.3333333%;

        a {
            display: block;
            text-align: center;
            padding: 16px;
            text-decoration: none;
            color: black;
            padding-top: 3px;
            padding-bottom: 8px;
        }
    }

    li.active {
        .glyphicon {
            color: red;
        }

        a {
            color: red;
        }
    }
}

#match-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: -15px;
    z-index: 1;
    margin-top: 40%;
    text-align: center;

    h1 {
        background-color: white;
        padding-top: 11px;
        padding-bottom: 11px;
        font-family: 'Shrikhand', cursive;
    }
}

.blur-me {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    opacity: 0.9;
}

#account-page {
    #profile-image {
        width: 80%;
        margin-left: 10%;
    }

    #welcome-text {
        text-align: center;
    }
}

.face-card {
    margin-top: 5%;
    background: #ddd;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;
    width: 96%;
    height: 100px;
    margin-left: 2%;

    #candidate-name {
        font-size: x-large;
        text-align: center;
        font-weight: 700;
    }

    img {
        width: 70px;
        height: 70px;
        border-radius: 100px;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px;
        margin-left: 8px;
        margin-top: 11px;
    }
}

.like-button-col {
    padding-left: 0px;
    .btn {
        width: 40px;
        height: 40px;
        font-size: large;
        border-color: white;
        border-width: 2px;
        margin-top: 2px;
        border-radius: 100px;
    }
}
/* enable absolute positioning */
.inner-addon {
    position: relative;
}
/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
/* align icon */
.left-addon .glyphicon {
    left: 10px;
}

.right-addon .glyphicon {
    right: 0;
}
/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout+.bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: #777;
}

.bs-callout-default h4 {
    color: #777;
}

.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

input [type="password"] [type="email"] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
