<div class='container' id="candidates-page">
    <div ng-if='state.error'>
        <div class='bs-callout bs-callout-danger'>
            <h3>ERROR</h3>
            <p>{{error}}</p>
        </div>
    </div>

    <div ng-if='state.working'>
        <h3>
            Searching for people in the area...
            <span class='glyphicon glyphicon-refresh glyphicon-spin'></span>
       </h3>
    </div>
    <div ng-if="!state.working">
        <div ng-if='!currentCandidate'>
            <button class='btn btn-primary' ng-click="getNextSetOfMatches()">
                Refresh
            </button>
        </div>
        <div ng-if="currentCandidate">
            <div ng-if='match' id='match-overlay'>
                <h1>
                    IT'S A MATCH!!!
                </h1>
                <img ng-scr="{{currentCandidate.photo_link}}" />
                <button class='btn btn-default' ng-click="viewProfile()">
                    View Profile
                </button>
                <button class='btn btn-default' ng-click="moveToNextCandidate()">
                    Keep Swiping
                </button>
            </div>
            <div id='swiping-zone' ng-class="{'blur-me':match}">
                <div class='face-card'>
                    <!-- TODO - standardize size of cards -->
                    <img ng-src="{{currentCandidate.photo_link}}" />
                    <h4 id='candidate-name'>
                                    {{currentCandidate.first_name}} {{currentCandidate.last_name}}
                                </h4>
                    <div class="container">
                        <p>
                            Education: {{currentCandidate.education}}
                        </p>
                        <p>
                            {{currentCandidate.job_title}} at {{currentCandidate.employer}}
                        </p>
                    </div>
                </div>
                <div class="row like-button-row">
                    <div class="col-xs-5 col-xs-offset-1">
                        <button class='btn btn-danger ' ng-click="swipeLeft()">Nope</button>
                    </div>
                    <div class="col-xs-5">
                        <button class='btn btn-success' ng-click="swipeRight()">Like</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
