<div class='container' id="account-page">
    <div ng-if='state.working'>
        <h3>
            Fetching your account...
            <span class='glyphicon glyphicon-refresh glyphicon-spin'></span>
       </h3>
    </div>
    <div ng-if='state.error'>
        <div class='bs-callout bs-callout-danger'>
            <h3>ERROR</h3>
            <p>{{state.error}}</p>
        </div>
    </div>
    <div ng-if='user'>
        <h2 id = 'welcome-text'>Welcome {{user.first_name}} {{user.last_name}}</h2>


         <img id = 'profile-image' ng-src="{{user.photo_link}}" />
         <p>Education: {{user.education}}</p>
         <p>{{user.job_title}} at {{user.employer}}</p>
	 <leaflet lf-center="center" markers="markers" height="300px" width="300px"></leaflet>
    </div>
</div>
